#first-page {

}


#first-page{
   background-color: white;
}
#first-page-header{
   
   margin-left: 1090px;
   font-size: 40px;
   font-weight: bolder;
   color: rgb(42, 42, 230);

}
#first-page-body{
   background-color:white;
   margin-left: 1150px;
   font-size: 30px;
   margin-top: 60px;

}


#goToChallenge{
   margin-left: 1100px;
   background-color: rgb(79, 79, 226);
   color: white;
   height:40px;
   width: 300px;
   margin-top: 80px;
   border-radius: 3px;
   box-shadow:white  10px;
   font-size: 20px;
   font-weight: bold;
}

#first-page-footer{
   
}
#second-page {
   display: none;
   background-color: white;
}


#second-page-header{
   font-size: 30px;
   font-weight: bold;
   width: 1000px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.questionbox{
   background-color: white;
   width: 1000px;
}

.question{
background-color:rgb(97 128 222) ;
color: white;
padding-top: 5px;
padding-bottom: 5px;
width: 1000px;
font-size: 28px;
}

.option1,.option2,.option3,.option4{
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}


#submitChallenge{
   background-color: rgb(79, 79, 226);
   color: white;
   height:40px;
   width: 300px;
   border-radius: 3px;
   box-shadow:white  10px;
   font-size: 20px;
   font-weight: bold;
   margin-left: 350px;
}

#second-page-footer-score{
   font-size: 25px;
   color: rgb(5, 5, 100);
   margin-top: 10px;
   margin-left: 400px;
}